<!DOCTYPE html>
<html>
  <head>
    <title>Timbox</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <% if user_signed_in? %>
      <div data-controller="sidebar" class="d-flex flex-column vh-100">
        
        <nav class="navbar navbar-dark bg-dark px-3 flex-shrink-0">
          <div class="d-flex align-items-center">
            <button class="navbar-toggler d-lg-none me-3" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="/">Timbox Exercise</a>
          </div>
          
          <div class="d-flex align-items-center text-white">
            <span class="me-3">Hola, <%= current_user.email %></span>
            <%= button_to "Cerrar Sesión", destroy_user_session_path, method: :delete, class: "btn btn-sm btn-danger" %>
          </div>
        </nav>

        <div class="d-flex flex-grow-1 overflow-hidden">
          
          <aside id="sidebarMenu" data-sidebar-target="menu" class="collapse d-lg-block bg-light border-end p-3 overflow-auto" style="min-width: 250px; max-width: 300px;">
            <ul class="nav nav-pills flex-column mb-auto">
              <li class="nav-item">
                <%= link_to "Colaboradores", employees_path, class: "nav-link link-dark", data: { action: "click->sidebar#selectMenuItem", sidebar_target: "menuLink" } %>
              </li>
              <li>
                <%= link_to "Configuración de Cuenta", edit_account_settings_path, class: "nav-link link-dark", data: { action: "click->sidebar#selectMenuItem", sidebar_target: "menuLink" } %>
              </li>
              <li>
                <%= link_to "Algoritmos", algorithms_path, class: "nav-link link-dark", data: { action: "click->sidebar#selectMenuItem", sidebar_target: "menuLink" } %>
              </li>

              <li>
                <%= link_to "Usuarios", client_users_path, class: "nav-link link-dark", data: { action: "click->sidebar#selectMenuItem", sidebar_target: "menuLink" } %>
              </li>

              <li>
                <%= link_to "Servicios", posts_path, class: "nav-link link-dark", data: { action: "click->sidebar#selectMenuItem", sidebar_target: "menuLink" } %>
              </li>
            </ul>
          </aside>

          <main class="flex-grow-1 p-4 overflow-auto bg-white">
            <%= render "layouts/alerts" %> <%= turbo_frame_tag "main-content", data: { turbo_action: "advance" } do %>
              <%= yield %>
            <% end %>
          </main>
        </div>
      </div>
    <% else %>
      <main class="container mt-5">
        <%= yield %>
      </main>
    <% end %>
  </body>
</html>
